
html {
    height: 100%;
    font-size: 10px;
    

}

body {
    margin: 0;
    height: 100vh;
    background: url(../assets/destination/background-destination-desktop.jpg) no-repeat center / cover;
}

header {
    display: flex;
    padding-left: 55px;
    padding-top: 40px;

    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 48px;
    height: 48px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bar {
    margin-left: 20px;
    width: 473px;
    height: 1px;

    background: hsl(0, 0%, 100%);
    mix-blend-mode: normal;
    opacity: 0.25;
}

.mobile-menu {
    display: none;
}

#hamburger{
    position: relative;
    z-index: 1000;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
}

.open {
    background: url(../assets/shared/icon-hamburger.svg) no-repeat center / contain;
}

.close {
    background: url(../assets/shared/icon-close.svg) no-repeat center / contain;
}

nav {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    -webkit-backdrop-filter: blur(81.5485px);
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: 100px;
    margin-right: 150px;
    padding: 0;
}

.link {
    margin: 0 20px;
}

nav .active {
    border-bottom: 3px solid hsl(0, 0%, 100%);
}

.link a:hover {
    border-bottom: 3px solid hsl(0, 0%, 100%, 0.5);
}

.link a {
    display: inline-block;
    padding: 40px 0;
    text-decoration: none;
    letter-spacing: 2.7px;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
}

.link span {
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;

}

.container {
    padding: 50px 165px 50px 165px;
}

.container h5 {
    margin: 0;
    color: hsl(0, 0%, 100%);
}

.container h5 span {
    display: inline-block;
    margin-right: 28px;
    font-weight: 700;
    color: hsl(0, 0%, 100%, 0.25);
}

.planet {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pic, .description {
    width: 445px;
}

.swiper {
    display: none;
    width: 170px;
    height: 170px;
}

.switch {
    display: flex;
    list-style: none;
    padding: 0;
}

.switch li {
    padding-right: 35px;
    text-align: center;
}

.switch .active {
    color: hsl(0, 0%, 100%);
    border-bottom: 3px solid hsl(0, 0%, 100%);
}

.switch button {
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
    text-decoration: none;
    padding: 1px 0 14px 0;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: hsla(231, 77%, 90%, 1);
    background: transparent;
    border: none;
}

.switch button:hover {
    border-bottom: 3px solid hsl(0, 0%, 100%, 0.5);
    cursor: pointer;
}

.description h2 {
    margin-top: 37px;
    margin-bottom: 14px;
}

.data {
    margin-top: 54px;
    padding-top: 28px;
    display: flex;

    border-top: 1px solid hsla(231, 15%, 26%, 1);
}

.data div {
    margin-right: 75px;
}







h1, h2, h3, h4, h5{
    font-family: 'Bellefair', serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
}
h1 {
    font-size: 150px;
}

h2 {
    font-size: 100px;
}

h3 {
    font-size: 56px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    color: hsl(231, 77%, 90%);
}

p {
    margin: 0;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: hsl(231, 77%, 90%);
    text-align: justify;
    line-height: 32px;
}

.sh1 {
    margin: 0;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
}

.description .sh2 {
    margin: 0;
    margin-bottom: 12px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2.35px;
    color: hsl(231, 77%, 90%);

}

@media screen and (max-width: 600px) {
    
    html {
        height: initial;
        min-height: 100% !important;
        background: url(../assets/destination/background-destination-mobile.jpg) no-repeat center / cover;
    }

    body {
        background: none;
        height: auto;
        min-height: 100% !important;
    }

    header {
        padding: 24px;
        padding-bottom: 0;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .bar {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    nav {
        box-sizing: border-box;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 70vw;
        height: 100vh;
        padding-top: 120px;
        padding-left: 35px;
    }

    nav ul {
        flex-direction: column;
        margin: 0;
        
    }

    .link {
        margin: 16px 0;
        padding: 0;
    }

    .link a {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .container {
        padding: 24px;
    }

    .container h5 span {
        margin-right: 18px;
    }

    .planet {
        display: block;
        margin-top: 32px;
    }

    .pic {
        margin: 0 auto;
        width: 170px;
        height: 170px;
    }

    #image {
        width: 100%;
    }

    .description {
        margin: 32px 0;
        width: 100%;
    }

    #photo {
        display: none;   
    }

    .swiper {
        display: block;
        position: relative;
        z-index: 1;
    }

    .switch {
        width: fit-content;
        justify-content: space-between;
        margin: 0 auto;
    }

    .switch li {
        padding: 10px;
    }

    .switch button {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625px;
    }  

    .switch button:hover {
        border-bottom: 3px solid hsl(0, 0%, 100%);
        cursor: pointer;
    }

    .description h2 {
        margin-top: 20px;
        margin-bottom: 1px;
    }

    .data {
        margin-top: 32px;
        display: block;
    }

    .data div {
        margin: 0;
        margin-bottom: 32px;
    }

    h1 {
        font-size: 80px;
        line-height: 100px;
    }

    h2 {        
        font-size: 56px;
        line-height: 64px;
        text-align: center;
    }

    h5 {
        font-size: 16px;
        letter-spacing: 2.7px;
        text-align: center;
    }

    p {
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 1100px) {

    html {
        background: url(../assets/destination/background-destination-tablet.jpg) no-repeat center / cover;
    }

    body {
        height: auto;
        min-height: 100% !important;
    }

    header {
        padding: 0;
        padding-left: 24px;
        font-size: 14px;
    }

    .bar {
        display: none;
    }
    
    nav {
        backdrop-filter: none;
    }

    nav ul {
        margin: 0 48px;
    }

    .link span {
        display: none;
    }

    .container {
        padding: 38px;
    }

    .container h5 span {
        margin-right: 19px;
    }

    .planet {
        display: block;
        margin-top: 60px;
    }

    .pic {
        margin: 0 auto;
        width: 300px;
        height: 300px;
    }

    #image {
        width: 100%;
    }

    .description {
        box-sizing: border-box;
        width: 100%;
        margin-top: 55px;
        padding: 0 70px;
    }

    #photo {
        display: none;   
    }

    .swiper {
        display: block;
        position: relative;
        z-index: 1;
    }

    .switch {
        width: fit-content;
        margin: 0 auto;
    }

    .switch button:hover {
        border-bottom: 3px solid hsl(0, 0%, 100%);
        cursor: pointer;
    }

    .switch li {
        padding: 18px;
    }

    .description h2 {
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .data {
        margin-top: 49px;
        padding-bottom: 40px;
        justify-content: space-around;
    }

    .data div {
        margin-right: 0;
    }

    h2 {
        font-size: 80px;
        text-align: center;
    }

    h5 {
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    p {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {

    .bar {
        width: 350px;
    }

    nav ul {
        margin: 0;
    }

    .container {
        padding: 0 100px;
    }
    
}